.mat-grid-tile {
	margin-top: -11px;
}
.mat-grid-tile .mat-figure {
	align-items: normal; 
}
.mat-grid-tile .mat-figure .timeline-card {
	align-items: normal; 
}
.mat-card-title {
	font-size: 16px;
}
.mat-card-title .allergies {
	font-size: 16px;
}
.mat-card {
	padding: 10px;
	font-family: Calibri
}
.obsInlineBoxShadow
{
	display: inline-block;
	border-radius: 5px;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;	
	width:9em;
	background:#ffffff;
	color:#333;
	text-align:center;
	text-decoration:none;
	font-weight:900;	
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.aboutme-tile {
	padding: 0;
	height: 94%;
	margin-top: -25px;
	font-family: Calibri;
}

.aboutme-card {
	text-align: left;
	height: 96%;
}

.allergies-text {	
	display: inline-block;
	vertical-align: text-bottom;	
	margin-left: 5px;
	overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 1.0em;
    width: 175px;
}

.allergies-card {
	text-align: center;
	width: 90%;
	margin-left: 20px;
	
} 

.alerts-card {
	width: 92%;
	height: 85%;
	background: #ffffff;
	overflow-y: auto;
	margin-top: 4px;
}

.ord-card {
	width: 92%;
	height: 85%;
	background: #ffffff;
	overflow-y: auto;
	margin-top: 6px;	
}

.nts-card {
	width: 92%;
	height: 87%;
	background: #ffffff;
	overflow-y: auto;
	margin-top: 3px;	
}

.md-button.md-small {
    min-width: 1%;
}

.med-card {
	width: 93%;
	margin-top: 8px;
	height: 88%;
	background: #ffffff;
	overflow-y: auto;	
}
.problems-card {
	width: 93%;
	margin-top: 15px;
	height: 90%;
	background: #ffffff;
	overflow-y: auto;
}
 
.timeline-card {
 	width: 96.35%;
 	margin-right: 1px;
 	height: 81%; 	
 	top: calc(11px);
 }
 
.timeline-card md-card-content{
 	width: 99%;	
 	margin-bottom: 16px;
 	font-size: 11px;
 	
 } 
 
/* .patient-bubble { */
/*   position: relative; */
/*   background: #b7dbdb; */
/*   border-radius: .9em;	 */
/*   width: 98%; */
/*   height: 95%; */
/*   padding: 5px; */
/*   text-align: center; */
/*   color: white; */
/* } */
 
/* .patient-bubble:after { */
/*   content: ''; */
/*   position: absolute; */
/*   top: 0; */
/*   left: 50px; */
/*   width: 0; */
/*   height: 0; */
/*   border: 14px solid transparent; */
/*   border-bottom-color: #b7dbdb; */
/*   border-top: 0; */
/*   border-left: 0; */
/*   margin-left: -23px; */
/*   margin-top: -7px; */
/*   transform: rotate(135deg); */
/* } */


.vitals-card {
	width: 100%;
	height: 95%;
	padding: 0 px;
	background: #ffffff;
}

.card-header {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 4px;
}

.obs-sidebar {
	float: right ;
	margin-left: 3px;
	font-family: Ariel;
	width: 25%;
}

.obs-sidebar div {
	padding-bottom: 3px;
	font-size: 0.80em;
}


.obs-sidebar div b {
	float: right;
	margin-right:5px;
	font-size: 0.78em;
}

.meds-number {
/*     border-radius: 50%; */
   
/*     margin-top: -1px; */
/*     margin-right: 5px; */
/*     background: #4d4dff; */
/*     border: 2px solid #6#4d4dff66; */ 
  
/*     position: relative; */
/* 	float: left; */	
/* 	width: 17px; */
/*     height: 17px; */
/*     padding: 3px 4px;     */
/*     color: #FFFFFF; */
/*     text-align: center; */
/*     font: 14px Arial, sans-serif;  */
	  
	  border-radius: 50%;
	  margin-right: 5px;
	  margin-top: -1px;
    position: relative;
	  float: left;
	  width: 17px;
    height: 17px;
    padding: 3px 4px;
    background: #4d4dff;
    border: 0px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font: 13px Arial, sans-serif; 
}
/* TODO */
/* box shadow for cards TODO */
md-card.mat-card {
	box-shadow: none;
}

.header-actionable {
   cursor: pointer;
   float:right;
   margin-top: -21px;
/*    padding: 0 3px 0 0;	 */
}

div.clickto-expand {
  cursor: pointer;  
}

div.clickto-expand:hover { 
    background-color: #e8e8e8;
}

.clickto-expand .zoom-decorator {
	display: none;
}

.clickto-expand:hover .zoom-decorator{ 
    display: inline-block;
}

.clickto-compress {
  cursor: pointer;
}
.clickto-compress:hover {
	background-color: #e8e8e8;
}