  <md-grid-list cols="{{collayoutcount}}" rowHeight="50px" style = "background-color: #E1F7F5">
	  <md-grid-tile #aboutme class="aboutme-tile" rowspan="{{maxrowcount}}">
	<!--      <div class="patient-bubble"> -->
		<div style = "height: calc(650px); width: 96.5%; margin-top: -4px;">
			<md-card id="aboutme-panel" class="aboutme-card">
	<!-- 	      <md-card-title> -->
	<!-- 	        <span><b style = "font-color: #464646; font-family: Calibri; font-size: 16px" >About {{patientDemographics.person.personNameList[0].givenName}}</b></span>	        	        -->
	<!-- 	        <hr> -->
	<!-- 	      </md-card-title> -->
		      <md-card-content>
		        <app-whyamihere>Loading why am I here...</app-whyamihere>
		        <app-aboutme>Loading About Me...</app-aboutme>     
	<!-- 	        <br/> -->
		        <app-vitals>Loading Vitals...</app-vitals>
			    <br/>   
			    <app-data>Loading Data...</app-data>
		      </md-card-content>
		    </md-card>
	    </div>
	  </md-grid-tile>
	
	  <md-grid-tile colspan="2" rowspan="3"  style = "margin-bottom: 2px;">
	  	<md-card class="timeline-card">
		  	<md-card-title style = "margin-bottom: 0px;">
		        <span><b>Timeline</b></span>
		    </md-card-title>
	    
		  	<md-card-content>
		  		<app-timeline>Loading Timeline...</app-timeline>
		    </md-card-content>
	    </md-card>
	  </md-grid-tile> 
	  
	  <md-grid-tile #problems rowspan="5" *ngIf = "(targetExpandedTiles.length == 0 || targetExpandedTiles.indexOf(medsTile) < 0 )" >
	    <md-card id="problems-panel" style="top: -8px;" class="problems-card">
	      <md-card-title>
	      	<div>
	        	<span style="cursor: pointer;" (click)= launchProblems()><b>Problems</b></span>  
	        	
	        	<span class = "btn-group">  
	        		<a class = "btn"><fa [name]="targetExpandedTiles.indexOf(problemsTile) < 0 ? 'expand' : 'compress'" style="cursor: pointer; margin-top: -5px; position: relative; float: right;" [border]="true" [size]=".5" (click)="toggleTileColExpansion($event, problemsTile, 2, 10 ,5)"></fa></a>
	        	 	<a class = "btn left"><fa [name]="'share-square-o'" style="cursor: pointer; position: relative; float: right; margin-top: -5px; left: -8px"  [border]="true" [size]=".5" (click)= launchProblems()></fa></a>
	        	</span>   
	        </div>
	        <hr style = "margin: 3px;" >
	      </md-card-title>
	      <md-card-content>
	        <app-problems>Loading Problems...</app-problems>
	      </md-card-content>
	    </md-card>
	  </md-grid-tile>  
	  
	  <md-grid-tile #alerts rowspan="3" *ngIf="targetExpandedTiles.length == 0 || ((targetExpandedTiles.indexOf(problemsTile) < 0) && (targetExpandedTiles.indexOf(medsTile) <  0 ))">
	    <md-card id="alerts-panel" class="alerts-card">
	      <md-card-title style = "margin-bottom: 4px;">
	        <span><b>Action Items</b></span>
	        <fa [name]="'share-square-o'" style="margin-top: -5px; cursor: pointer; position: relative; float: right;" [border]="true" [size]="1.2" (click)="launchOrders()"></fa>
	        <hr style = "margin: 3px;">
	      </md-card-title>
	      <md-card-content>
	        <app-alerts>Loading Care Reminders...</app-alerts>
	      </md-card-content>
	    </md-card>
	  </md-grid-tile>   
	      
	  <md-grid-tile #orders rowspan="3" *ngIf="targetExpandedTiles.length == 0 || ((targetExpandedTiles.indexOf(medsTile) < 0) && (targetExpandedTiles.indexOf(problemsTile) < 0 )) ">
	    <md-card id="orders-panel" class="ord-card" >
	      <md-card-title style = "margin-bottom: 6px;">
	        <span><b>Open Orders</b></span>   
	        <fa [name]="'share-square-o'" style="margin-top: -5px; cursor: pointer; position: relative; float: right;" [border]="true" [size]="1.2" (click)="launchOrders()"></fa>
	        <hr style = "margin: 3px;">
	      </md-card-title>
	      <md-card-content>
	        <app-orders>Loading Orders...</app-orders>
	      </md-card-content>
	    </md-card>
	  </md-grid-tile>    
	  
	  <md-grid-tile #meds rowspan="5" *ngIf = "(targetExpandedTiles.length == 0 || targetExpandedTiles.indexOf(problemsTile) < 0 )">
	   <md-card id="med-panel" class="med-card">	
	   	<md-card-title style = "margin-bottom: 2px;">
	    	<div class = "allergies-card" >
	     		<span><b>Allergies: </b></span>
	     		<span title="{{patientAllergiesString}}" class="allergies-text" [style.color] = "allergyTextColor" >{{patientAllergiesString}}</span>
	     	</div>
		</md-card-title>
	    <hr style = "margin-top: 3px; margin-bottom: 5px;"> 
	    <md-card-title>      
	<!-- 		<div> -->
	<!-- *ngIf="MedsComponent.medRefillRequestCount > 0" -->
	<!-- 			 <span class="meds-number" > 3 </span> -->
	<!--        		 <span> <b>Medications</b> </span>        		  -->
	<!--        		 <span class = "btn-group">   	 -->
	<!--      		 	<a class = "btn"><fa [name]="targetExpandedTiles.indexOf(medsTile) < 0 ? 'expand' : 'compress'"  -->
	<!--      		 	style="margin-top: -2px; cursor: pointer; position: relative; float: right;" [border]="true" [size]=".5" (click)="toggleTileColExpansion($event, medsTile, 2, 13 , 6)"></fa></a> -->
	<!--        		 	<a class = "btn left"><fa [name]="'share-square-o'" style="margin-top: -1px; cursor: pointer; position: relative;  -->
	<!--        		 	float: right; left: -8px" [border]="true" [size]=".5" (click)= launchMedications()></fa></a> -->
	<!--        		 </span>   -->
	<!--        	</div> -->
	  		<div (click) = "toggleTileColExpansion($event, medsTile, 2, 10 , 5)" [ngClass] = "targetExpandedTiles.indexOf(medsTile) < 0 ? 'clickto-expand' : 'clickto-compress'" 
	  		title = "Click to zoom in/out">
	  			
				<b>Medications</b>	  			
	  		</div>
	  			<fa [name]="'share-square-o'" class = "header-actionable" [border]="true" [size]=".5" (click)= launchMedications()></fa>
	        <hr style = "margin: 5px;">
	   </md-card-title>
	   <md-card-content>
	        <app-meds>Loading Medications...</app-meds>
	      </md-card-content>
	 
	    </md-card>
	  </md-grid-tile> 
	   
	  <md-grid-tile #notesToSelf rowspan="4" *ngIf="targetExpandedTiles.length == 0 || (targetExpandedTiles.indexOf(medsTile) < 0 && targetExpandedTiles.indexOf(problemsTile) < 0)">
	    <md-card id="notestoself-panel" class="nts-card">
	      <md-card-title>
	      <div>
	        <span><b>Notepad</b></span>    
	       		<span class = "btn-group">
	<!--         		<a class = "btn"><fa [name]="'mail-forward'" style="margin-top: -5px; cursor: pointer; position: relative; float: right;"  [border]="true" [size]=".6" (click)= launchMedications()></fa></a> -->
	<!--         		<a class = "btn"><fa [name]="'eraser'"  style="margin-top: -5px; cursor: pointer; position: relative; float: right; left: -8px" [border]="true" [size]=".6" (click)= OnClickNTS()></fa></a> -->
	       		</span>
	       </div>
	
	        <hr style = "margin: 2px;"> 
	      </md-card-title>
	      <md-card-content>
	        <app-notestoself>Loading Notes to Self...</app-notestoself>
	      </md-card-content>
	    </md-card>
	  </md-grid-tile>      
	 
</md-grid-list>