<div style="display: inline;">
 
     <!-- Left floats -->
	 <div class="vertcenterleft patientPicBlock" *ngIf="showPicture">
	   <img class="patientPic" [src]="patientPicture" />
	 </div>
	 
	 <div class="header-block-1">
		 <div><b style = "font-size: 15px;">{{patientDemographics.person.personNameList[0].givenName}} {{patientDemographics.person.personNameList[0].middleName}} {{patientDemographics.person.personNameList[0].familyName}}</b></div>
		 <div><span style = "opacity = 1.0;">{{patientDemographics.personAge.AgeString}} {{patientDemographics.person.genderCode}}</span> (<span style = "opacity: .8">DOB: </span> <span>{{adjDOB(patientDemographics.person.birthDate)}}</span>)</div>
		 <div title = {{patientPhoneNumber}}>
		 	<span style = "opacity: .8">Phone:</span>
		 	<span>{{patientPhoneNumber}}</span>
		 </div>
	 	 <div title = {{patientNextAppt}}>
	 	 	<span style = "opacity: .8">Next Appt:</span>
	 	 	<span>{{patientNextAppt}}</span>
	 	 </div>
	 </div>
 
	<div class="header-block-2">
	<br/>
      <div style = "margin-bottom: 1px; margin-top: 1px;" title = {{patientDemographics.preferredLanguage}}>Language:</div>
	  <div style = "margin-bottom: 1px;" title = {{patientEthnicity}}>Ethnicity:</div>
	  <div title = {{patientInsurance}}>Insurance:</div>
	</div>	
	
	<div class="header-block-2-values">
	  <br/>
	  <br *ngIf="patientDemographics.preferredLanguage === ''"/>
		<div  style = "margin-bottom: 1px;" class ="hd2val" title = {{patientDemographics.preferredLanguage}}>{{patientDemographics.preferredLanguage}}</div>
      <br *ngIf="patientEthnicity === ''"/>
		<div  style = "margin-bottom: 1px;" class ="hd2val" title = {{patientEthnicity}}>{{patientEthnicity}}</div>
	  <br *ngIf="patientInsurance === ''"/>
		<div  class ="hd2val" title = {{patientInsurance}}>{{patientInsurance}}</div>	
	</div>
	

<!-- 	 <div class="header-block-3"> -->
<!--       <div title = {{patientPCP}}>PCP:</div> -->
<!-- 	  <div title = {{patientCareTeam}}>Care Team:</div> -->
<!-- 	  <div title = {{patientNextAppt}}>Next Appt:</div>	  -->
<!-- 	 </div>	 -->
	 
<!-- 	 <div class = "header-block-3-values"> -->
<!--       <div title = {{patientPCP}}><b>{{patientPCP}}</b></div> -->
<!-- 	  <div title = {{patientCareTeam}}><b>{{patientCareTeam}}</b></div> -->
<!-- 	  <div title = {{patientNextAppt}}><b>{{patientNextAppt}}</b></div>	  -->
<!-- 	 </div>	  -->
	 
	 <div class = "header-block-3">
	 	
	 	<div>
	 	<fa title = {{patientPCP}} class = "header-block-3-md" [name]="'user-md'" [border]="false"></fa>
	 	<fa title = {{patientCareTeam}} class = "header-block-3-tm" [name]="'users'" [border]="false">Team</fa>
	 	</div>
	 	
	 	<div><span title = {{patientPCP}} style = "opacity: .8; font-size: 12px; margin-left: 3px;"> PCP </span><span title = {{patientCareTeam}} style = "opacity: .8; margin-left: 20px; font-size: 12px;">Care Team</span></div>
	 	
	 </div>
	 
	 <div class="header-block-4">
		<fa [name]="'flag'" [border]="false" [size]="1" class="flag-indicator-overlap"></fa>
	  	<fa [name]="'inbox'" [border]="false" [size]="3" class="inbox-indicator"></fa>
	  	<span class="inbox-number-circle">{{unexpiredFlagCount}}</span>	 	 	
	 </div>			 
	 
	 <!-- Right floats -->	 
	 <div class="header-block-5">
	 	
	 	<span title  = {{hoverRiskValue}} class="risk-score-indicator" [style.background-color]="riskIndicatorBackground">{{riskIndicatorValue}}<fa [name] = "'angle-down'" [border] = "false" [size] = "1" class = "risk-score-select" (click)="toggleSel()"></fa></span>
	 	 <div id="riskDropdown" class="dropdown-content" >
<!-- 			<select> -->
<!-- 				<option value="Low">Low</option> -->
<!-- 			  	<option value="Medium">Medium</option> -->
<!-- 		  		<option value="High">High</option></select> -->
			    <a  (click) = "UpdatePtRisk('Low')">Low</a>
			    <a  (click) = "UpdatePtRisk('Medium')">Medium</a>
			    <a  (click) = "UpdatePtRisk('High')">High</a>
			    <a  (click) = "UpdatePtRisk('Emergent')">Emergent</a>
  		</div>
  	</div>
	 	 	 
</div>