.vertcenterleft {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

.patientPicBlock {
    margin-left: 15px;
    margin-right: 15px;
}

.patientPic {
 	width:60px;
    height:60px;
    border-radius: 50%;
    float: left;
}

.header-block-1 {
	width: 24%;
	float: left;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.header-block-2 {
	width: 75px;
	float: left;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	opacity: 0.8;
  	margin-left: 5px;
}

.header-block-2-values {
	width: 20%;
	float: left;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.hd2val {
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;

}

.header-block-3-md {
	font-size: 35px;
	cursor: pointer; 
	position: relative;
}

.header-block-3-tm {
	font-size: 33px;
	margin-left: 22px;
	cursor: pointer; 
	position: relative;
}

.header-block-3 {
	width: 140px;
	float: left;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	margin-left: 25px;
}

.header-block-3-values {
	width: 14%;
	float: left;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.header-block-4 {
	width: 100px;
	float: left;
}

.header-block-5 {
	width: 85px;
	float: right;
}

.flag-indicator-overlap {
	position: relative;
	top: -15px;
	right: -30px;
	color: darkblue;
}

.inbox-indicator {
	position: relative;
	top: 14px;
	right: -3px;
	color: darkblue;
}

.inbox-number-circle {
	  border-radius: 50%;
	 position: relative;
	 top: -7px;
  	left: -7px;
    width: 24px;
    height: 24px;
    padding: 3px 7px;
    background: #DC3B18;
    border: 0px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font: 18px Arial, sans-serif;   
/*     border-radius: 50%; */
/* 	position: relative; */
/* 	top: -7px; */
/* 	left: -10px; */
/*     width: 12px; */
/*     height: 12px; */
/*     padding: 2px 4px; */
/*     background: #fff; */
/*     border: 1px solid #666; */
/*     color: #666; */
/*     text-align: center; */

/*     font: 12px Arial, sans-serif; */
}

.risk-score-indicator {
	position: relative;
    top: 10px;
    padding: 3px 12px;
		
    background: #fff;
    border: 2px solid #666;
    color: #ffffff;
    text-align: center;

    font: 36px Arial, sans-serif;	
}

.risk-score-indicator fa{
  visibility:hidden;
}

.risk-score-indicator:hover fa {
 visibility:visible;
}

.risk-score-select {
	font-size: 13px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
/*     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    opacity: 1.0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
	display: block;
	}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
