<!-- Before 10/3 udpate -->
<!-- <div> -->
<!-- <span><b style = "font-color: #464646; font-family: Calibri; font-size: 14px" >About {{patientDemographics.person.personNameList[0].givenName}}</b> </span> -->
<!--  <textarea rows="4" [disabled]="formId <= 0" class="aboutme-textarea"></textarea> -->
<!--  </div> -->
<!--  <span style = "font-color: #464646; font-family: Calibri; font-size: 14"><b>I rate my heath as...</b></span> -->
<!-- <div mdTooltip = "1=Poor 2=Fair     3=Good      4=Very Good  5=Excellent" class="rate-my-status">	 -->
<!-- 	<md-slider class="rating-slider" thumbLabel tickInterval="1" min="1" max="5" step="1" value="3"></md-slider> -->
<!-- </div> -->
<!-- <br/> -->

<div>
<span><b class = "title" >About {{patientDemographics.person.personNameList[0].givenName}}</b> </span>
 <textarea ref-textarea rows="4" [disabled]="formId <= 0" [ngModel]="aboutMe" (ngModelChange)="onAboutMeChange($event)"  class="aboutme-textarea"></textarea>
</div>

<div mdTooltip = "1=Poor 2=Fair     3=Good      4=Very Good  5=Excellent" class="rate-my-status">	
	<span class = "title" ><b>I rate my health as...</b></span>
		<md-slider class="rating-slider" thumbLabel tickInterval="1" min="1" max="5" step="1" (change)="onRatingChange($event)" value="{{currentRating}}"></md-slider>
</div>
<br/>