.aboutme-textarea {
	width: 97%;
	margin-left: 5px;
	resize: none;
	overflow: auto;
	border-radius: 5px;
	font-family: Calibri;
}

.rate-my-status {
	text-align: left;
	
}

.rating-slider {
	width: 51%;
}

mat-slider-thumb {
	background-color: black;
}
md-slider .md-track-ticks canvas {
  	height: 30px;
}

.title {
	font-color: #464646; 
	font-family: Calibri; 
	font-size: 15px;		
}