.care-alert-label { 
	display: inline-block; 
 	text-align: center; 
 	max-width: 100px; 
 	margin: 5px; 
 	font-size: 16px; 
 	border-radius: 8px; 
	background-color: white; 
 	cursor: default; 
 	positive: absolute;
 } 

 .care-alert-span { 
 	margin: 0 10px; 
 } 

 .numberCircle { 
	border-radius: 50%;
    position: absolute;
    float: left;
	width: 17px;
    height: 17px;
    padding: 3px 4px;
    background: #DC3B18;
    border: 0px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font: 13px Arial, sans-serif; 

} 

.cardOffset { 
	top: 6px;
    left: 99px;
}
 
