<span *ngIf = "careAlertCount > 0 " class="numberCircle cardOffset">{{careAlertCount}}</span>
<div title="{{careAction.tooltip}}" class="care-alert-label"[style.border]="careAction.cssBorder" *ngFor="let careAction of careActionList">
  <span class="care-alert-span">{{ careAction.action_name }}</span>
</div>
