.my-data {
	color: blue;
}
/* Style the tab */
div.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 98%;
}

/* Style the buttons inside the tab */
div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 4px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tabs button.active {
    background-color: #ccc;
}

/* Style the tab content 
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	width: 30%;	
}
	
.tg td {
	font-family:Arial, sans-serif;
	font-size:11px;
/* 	padding:10px 5px; */
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	}
.tg-title {
	width: 20px;
}
.tg-value {
	width: 30px;
}
.tg .tg-title .tg-value{
	vertical-align:top;
	}