<div style="width:350px; font-color: #464646; font-family: Calibri" >
	<fa [name]="'table'" [size]=".8"></fa>
	My Data
</div>
<div class = "tabs">
	<button class = "ChartLinks"   (click) = "openChartView(event, 'Test')" id = "DefaultChartView" >Test</button>  
	<button class = "ChartLinks"   (click) = "openChartView(event, 'Lipids','Lipids-Table')">Lipid</button>
	<button class = "ChartLinks"   (click) = "openChartView(event, 'Other','Other-Table')">Other </button>
	<button class = "ChartLinks"   (click) = "openChartView(event, 'MH' , 'MH-Table')">Mental Health</button>
</div>

<br/>

<div id = "Test" class="chart-container" style="position: relative; height: 20%; width: 75%;">
  <b> Test </b>
</div>

<!--Lipid View : Chart / Interactive Table-->
<div id = "Lipids" class="chart-container" style="display: inline-block; position: relative; height: 20%; width: 75%;">
  <canvas baseChart style="margin-left:3px;" id="myLipidChart"
          [datasets]="lineChartData1"
          [labels]="lineChartLabels1"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div id = "Lipids-Table" class = "chart-container-table" style = "display: inline-block; width: 20%; float: right; position: relative;">
  <table class="tg">
  	<tr>
  		<th>Lab</th>
  		<th>Value  </th>
  		<th> Date </th>
  	</tr>
  	<tr>
	    <td class="tg-title">TC:</td>
	    <td class="tg-value">{{mostRecentTotChol}}</td> 
	    <td class="tg-value">{{RecentDateTotChol}}</td>
    </tr>
	<tr>
	    <td class="tg-title">HDL:</td>
	    <td class="tg-value">{{mostRecentHDL}}</td> 
	    <td class="tg-value">{{RecentDateHDL}}</td>
	</tr>
	<tr>
	    <td class="tg-title">LDL:</td>
	    <td class="tg-value">{{mostRecentLDL}}</td> 
	    <td class="tg-value">{{RecentDateLDL}}</td>
	</tr>
	<tr>
	    <td class="tg-title">TG:</td>
	    <td class="tg-value">{{mostRecentTG}}</td> 
	    <td class="tg-value">{{RecentDateTG}}</td>
	</tr>
  </table>
</div>

<!--Other View : Chart / Interactive Table-->
<div id = "Other" class="chart-container" style="position: relative; display: inline-block; height: 20%; width: 75%;">
  
  <canvas baseChart style="margin-left:3px;" id="myOtherChart"
          [datasets]="lineChartData2"
          [labels]="lineChartLabels2"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  
</div>
<div id = "Other-Table" class = "chart-container-table" style = "width: 20%; display: inline-block; float: right; position: relative;">
  <table class="tg">
  	<tr>
  		<th>Lab</th>
  		<th>Value</th>
  		<th>Date</th>
  	</tr>
  	<tr>
	    <td class="tg-title">A1c:</td>
	    <td class="tg-value">{{mostRecentA1c}}</td> 
	    <td class="tg-value">{{RecentDateA1c}}</td>
    </tr>
	<tr>
	    <td class="tg-title">TC:</td>
	    <td class="tg-value">{{mostRecentTC}}</td> 
	    <td class="tg-value">{{RecentDateTC}}</td>
	</tr>
	<tr>
	    <td class="tg-title">Cr:</td>
	    <td class="tg-value">{{mostRecentCr}}</td> 
	    <td class="tg-value">{{RecentDateCr}}</td>
	</tr>
	<tr>
	    <td class="tg-title">Hgb:</td>
	    <td class="tg-value">{{mostRecentHgb}}</td> 
	    <td class="tg-value">{{RecentDateHgb}}</td>
	</tr>
	<tr>
	    <td class="tg-title">TSH:</td>
	    <td class="tg-value">{{mostRecentTSH}}</td> 
	    <td class="tg-value">{{RecentDateTSH}}</td>
	</tr>
  </table>
</div> 

<!-- Other View : Chart / Interactive Table-->
<div id = "MH" class="chart-container" style="position: relative; height: 20%; width: 75%; display: inline-block;">
  
  <canvas baseChart style="margin-left:3px;" id="myOtherChart"
          [datasets]="lineChartData3"
          [labels]="lineChartLabels3"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  
</div>

<div id = "MH-Table" class = "chart-container-table" style = "width: 20%; float: right; position: relative; display: inline-block;">
  <table class="tg">
  	<tr>
  		<th>Lab</th>
  		<th>Value</th>
  		<th>Date</th>
  	</tr>
  	<tr>
	    <td class="tg-title">PHQ-9:</td>
	    <td class="tg-value">{{mostRecentPHQ9}}</td> 
	    <td class="tg-value">{{RecentDatePHQ9}}</td>
	</tr>
  </table>
</div>