<span class="meds-number-circle cardOffset" *ngIf="medRefillRequestCount > 0">{{medRefillRequestCount}}</span>
<div title="{{med.lastRxDetails}}" class="meds-list" *ngFor="let med of patientMedicationsList">
	<md-expansion-panel *ngIf="med.lastRxDetails">
	  <md-expansion-panel-header class="tight-header">
	    <md-panel-title class="tight-title">
	      {{ med.description }}
	    </md-panel-title>
	  </md-expansion-panel-header>
	  
	  <md-form-field class="tight-field">
	  	{{ med.instructions }} <span style="opacity: 0.6; float: right;">{{ med.lastRxDetails}}</span>  
	  </md-form-field>	  	  
	  
	</md-expansion-panel>
  
	 <div *ngIf="!med.lastRxDetails" class="simple-panel">
	 	{{ med.description }}
	 </div>	 
</div>


