.tight-header {
	padding: 0 5px;
	font-size: 13px;
	font-family: Calibri;
}

.tight-field {
	font-size: 13px;
	font-family: Calibri;
}

.tight-title {
	margin-right: 3px;	
	font-family: Calibri;
}

.simple-panel {
	padding: 5px;
/* 	border: 1px solid #dfdfdf; */
	font-size: 13px;
	font-family: Calibri;
}

.meds-number-circle {
    border-radius: 50%;
    margin-right: 5px;
	margin-top: -1px;
    position: absolute;
	float: left;
	width: 17px;
    height: 17px;
    padding: 3px 4px;
    background: #4d4dff;
    border: 0px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font: 13px Arial, sans-serif; 
/* 	border-radius: 50%; */
/*     position: relative; */
/*     float: left; */
/* 	width: 17px; */
/*     height: 17px; */
/*     padding: 3px 4px; */
/*     background: #4d4dff; */
/*     border: 0px solid #FFFFFF; */
/*     color: #FFFFFF; */
/*     text-align: center; */
/*     font: 13px Arial, sans-serif;  */

}

.meds-list {
	position: relative;
	top: -15px;
}

.cardOffset {
	top: 36px;;
	left: 98px;
}
md-expansion-panel.mat-expansion-panel {
    box-shadow:none;
}