<div>
  <!-- (keyup)='textAreaKeyUp.next($event)' -->
 <textarea class="notestoself-textarea" rows="2" [disabled]="formId <= 0" [ngModel]="notesToSelf" (ngModelChange)="onNotesToSelfChange($event)" ></textarea>
</div>

<span><fa [name]="'mail-forward'"  style=" top: -160px; cursor: pointer; position: relative; float: right; " [border]="true" [size]="1.2" (click)= bringPrevNTS()></fa></span>
<span><fa [name]="'eraser'"  style=" top: -160px; cursor: pointer; position: relative; float: right; left: -8px" [border]="true" [size]="1.2" (click)= EraseNTS()></fa></span>

