.notestoself-textarea {
	width: 98.5%;
	resize: none;
	overflow: auto;
	border-radius: 5px;
}

textarea.notestoself-textarea {
/* 	background: url(../../../assets/images/Legal Pad.png) repeat-y; */
/* 	width: 88%; */
/* 	height: 110px; */
/* 	font: normal 16px verdana; */
/* 	padding: 2px 10px 2px 34px; */
/* 	line-height: 18px; */
/* 	border: solid 1px #ddd; */
	width: 97%;
	margin-left: 5px;
	resize: none;
	overflow: auto;
	border-radius: 5px;
	height: 110px;
	background-color: #fffda3;
}

.cardOffset {
	top: 5px;	
}