.orders-wrapper {
	display: inline-block;
}

.order-referral-label {
	display: inline-block;
	text-align: center;
	max-width: 100px;
	font-size: 16px;
	border-radius: 4px;
	background-color: white;
	cursor: default;
	border: 2px solid #808080;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.order-test-label {
	display: inline-block;
	text-align: center;
	max-width: 100px;
	font-size: 16px;
	border-radius: 4px;
	background-color: white;
	cursor: default;
	border: 2px dotted #808080;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.order-span {
	margin: 0 3px;
}