<div title="{{refOrder.tooltip}}" class="order-referral-label" *ngFor="let refOrder of patientReferalOrderList">
  <span class="order-span">{{ refOrder.description }}</span>
</div>

<br *ngIf="patientReferalOrderList.length > 0"/>

<div title="{{testOrder.tooltip}}" class="order-test-label" *ngFor="let testOrder of patientTestOrderList">
  <span class="order-span">{{ testOrder.description }}</span>
</div>