.tight-header {
	padding: 0 5px;
	font-size: 13px;
	font-family: Calibri;
}

.tight-field {
	font-size: 13px;
	font-family: Calibri;
	line-height: 14px;
}

.tight-title {
	margin-right: 3px;	
	font-family: Calibri;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.simple-panel {
	padding: 5px;
/* 	border: 1px solid #dfdfdf; */
	font-size: 13px;
	font-family: Calibri;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.problem-wrapper {
	position: relative;
	top: -15px;
	
}

.numberCircle {
    border-radius: 50%;

	position: relative;
	top: -34px;
	left: -15px;
    width: 16px;
    height: 16px;
    padding: 4px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}

.cardOffset {
	float: right;
	top: -50px;
}

md-expansion-panel.mat-expansion-panel {
    box-shadow:none;
}

.prob-decision-select {
	font-size: 13px;
}
/* Dropdown Content (Hidden by Default) */
.prob-decision-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
/*     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    opacity: 1.0;
}

/* Links inside the dropdown */
.prob-decision-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* prob-decision color of dropdown links on hover */
.prob-decision-content a:hover {
	background-color: #f1f1f1;
	display: block;
	}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
