<!-- <span class="numberCircle cardOffset">{{patientProblemsList.length}}</span>  -->

<div title="{{problem.tooltipText}}" class="problem-wrapper" *ngFor="let problem of patientProblemsList">

      <md-expansion-panel *ngIf="problem.assessmentList && problem.assessmentList.length > 0">
      
        <md-expansion-panel-header class="tight-header">
          <md-panel-title class="tight-title">
            {{ problem.description }}
          </md-panel-title>
        </md-expansion-panel-header>
        
        <md-form-field class="tight-field" *ngFor="let assessment of problem.assessmentList">
         <div>
         	<span>{{ assessment.annotate }}</span>          	
         	<br/>	
         	<div style="opacity: 0.6; float: right;">{{assessment.clinicaldate}} - {{assessment.providerName}}</div>
      	 	<br/>
      	 </div>
        </md-form-field>
        
      </md-expansion-panel>

      <div *ngIf="!problem.assessmentList || problem.assessmentList.length == 0" class="simple-panel">
      	{{ problem.description }}     
      </div>
</div>
	 	<fa [name] = "'angle-down'" [border] = "false" [size] = "1" class = "prob-decision-select" (click)="toggleProblemDropdown()"></fa>
 	 			<div id="ProbDecDropdown" class="prob-decision-content" >
				    <a  (click) = "remPatientProblem(problem.PRID)">Remove Problem</a>
				    <a  (click) = "alert('test')">Add Assessment</a>
				    <a  (click) = "alert('test')">High</a>
				    <a  (click) = "alert('test')">Emergent</a>
  				</div>

<!--  	 	<fa [name]="'times'" [border]="true" (click) = "remPatientProblem(problem.PRID)" style="color: red"></fa> -->
 -->  	