.patient-timeline {
	position: relative;
	margin-top: 1px;
}
.test {
	cursor: pointer; 
	font-size:1em;
	cursor:default;
	color: #97B0F8;	
}

.test:after {
    content: attr(title);
    position: absolute;   
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.test:hover:after {
    opacity: 1;
}

/* Changes to .vis */
/* .vis-item.vis-box { */
/*   text-align: center; */
/*   border-style: solid; */
/*   border-radius: 2px; */
/* } */
/* to */
/* .vis-item.vis-box { */
/*     text-align: inherit; */
/*     border-style: solid; */
/*     border-radius: 50%; */
/*     padding: 1px 2px;     */
/* } */
/* .vis-item .vis-item-content */
/* padding 5 -> 0 */