<div style = "font-color: #464646; font-family: Calibri " ><fa [name]="'heart-o'" [size]=".8"></fa> My Vitals
<span class = "obs-sidebar-hd"> Today </span> 
</div>
<br/>
<div class="chart-container-vitals" style="position: relative; height:155px; width:80%; float: left;">
	<canvas baseChart style="margin-left:3px;" id="myVitalsChart"
		[datasets]="vitalsChartData"
		[labels]="vitalsChartLabels"
		[options]="vitalsChartOptions"
		[colors]="lineChartColors"
		[legend]="lineChartLegend"
		[chartType]="lineChartType"
		(chartHover)="chartHovered($event)"
		(chartClick)="chartClicked($event)">
	</canvas>	
</div>	
<div style = "width: 15%; float: right; position: relative;">
		<table class="tg">
			  <tr>
			    <td class="tg-title">T:</td>
			    <td class="tg-value">{{todayTemp}}</td>
			  </tr>
			  <tr>
			    <td class="tg-title">BP:</td>
			    <td class="tg-value">{{todaySystolic}}/{{todayDiastolic}}</td>
			  </tr>
			  <tr>
			    <td class="tg-title">HR:</td>
			    <td class="tg-value">{{todayPulseRate}}</td>
			  </tr>
			  <tr>
			    <td class="tg-title">R:</td>
			    <td class="tg-value">{{todayRespRate}}</td>
			  </tr>
			  <tr>
			    <td class="tg-title">O2</td>
			    <td class="tg-value">{{todayO2Sat}}</td>
			  </tr>
	     </table>
	    
	    <table class="tg" style = "margin-top: 10px; margin-right: 6px;">
			  <tr>
			    <td class="tg-title">Ht:</td>
			    <td class="tg-value">{{todayHeight}}</td>
			  </tr>
			  <tr>
			    <td class="tg-title">Wt:</td>
			    <td class="tg-value">{{todayWeight}}</td>
			  </tr>
			  <tr>
			    <td class="tg-title">BMI:</td>
			    <td class="tg-value">{{todayBMI}}</td>
			  </tr>
		 </table>
</div>
	
