.obs-sidebar-hd {
	text-align: center; 
	text-decoration: underline;
	opacity: 0.8;
	float: right;
	padding-right: 25px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	float: right;
	width: 17%;	
}
	
.tg td {
	font-family:Arial, sans-serif;
	font-size:11px;
/* 	padding:10px 5px; */
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	}
.tg .tg-title {
	width: 15px;
}
.tg .tg-title .tg-value{
	vertical-align:top;
	}