<div>
 <span class="whyamihere-title" ><b>I'm visiting for...</b></span>
 <textarea rows="2" class="whyamihere-textarea" [ngModel]="chiefComplaint" (ngModelChange)="onChiefComplaintChange($event)"></textarea>
</div>
