.whyamihere-textarea {
	width: 97%;
	resize: none;
	overflow: auto;
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 2px;
 
}
.whyamihere-title {	
	font-color: #464646; 
	font-family: Calibri; 
	font-size: 15px;	
	}